---
layout: default
title: Knora
---

<header>
    <div class="container">
        <div class="column">
            <div>

                <h1>The DaSCH Service Plarform (DSP) for Knowledge Organization, Representation,
                    <br>and Annotation</h1>
                <p>The DaSCH Service Platform can be used for storing, sharing, and working with primary sources and data in the humanities.</p>
                <div class="action">
                    <div class="button">
                        <a href="https://docs-api.dasch.swiss/04-publishing-deployment/getting-started/">Getting started</a>
                    </div>
                    <div class="button">
                        <a href="https://docs-api.dasch.swiss/index.html">Documentation</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="column">
            <div class="img-column">
                <img class="desktop" src="/assets/images/digitaler-zettelkasten.png" alt="Digital filing cabinet">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h2 style="text-align: center;">Features</h2>
    <ul class="thirds">
        <li>
            <div class="image">
                <i class="material-icons">storage</i>
            </div>
            <!-- <h3>Ensures Longevity of Humanities Data</h3> -->
            <h3><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/">Longevity of Humanities Data</a></h3>
            <p>The DaSCH Service Platform keeps data accessible, citable, and reusable, even as technologies change.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">search</i>
            </div>
            <h3><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/#powerful-searches">Powerful Searches</a></h3>
            <p>Search for relationships between text, metadata, annotations, markup, links, and more.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">share</i>
            </div>
            <!-- <h3>Makes Data Citable and Reusable</h3> -->
            <h3><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/#data-consistency">Ensures Consistency</a></h3>
            <p>You define your data model, and Knora ensures that your data is consistent with it.</p>
        </li>
    </ul>
    <ul class="thirds">
        <li>
            <div class="image">
                <i class="material-icons">history</i>
            </div>
            <h3><a href="https://docs.dasch.swiss/01-introduction/what-is-knora/#data-history">History</a></h3>
            <p>When data changes, Knora preserves past versions, so you can still view and cite them.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">perm_identity</i>
            </div>
            <h3><a href="https://docs.dasch.swiss/01-introduction/what-is-knora/#access-control">Control Access</a></h3>
            <p>You decide who can view and change each item of data in your project.</p>
        </li>

        <li>
            <div class="image">
                <i class="material-icons">web</i>
            </div>
            <!-- <h3>Create Virtual Research Environments</h3> -->
            <h3><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/#build-your-own-application">Own app</a></h3>
            <p>Using the Knora API and <a href="https://dasch-swiss.github.io/knora-ui/">Knora-ui modules</a>,
                a set of reusable user-interface components, you can create your own project-specific web site.
            </p>
            <!--
            <p>Use {{ site.links.salsah }}, or build your own research environment using the Knora API and
                <a href="https://github.com/dhlab-basel/Knora-ui">Knora-ui</a>.
            </p> 
            -->
        </li>
    </ul>
</div>

<!-- TODO: Clearly say what DSP is -->
<!-- e.g. in the container "Our Mission" (please replace the title) or in the next container with the class "quote" -->
<div class="container">
    <div class="columns">
        <div>
            <img class="desktop shadow" src="/assets/images/annotations.jpg" alt="Work with humanities data">
        </div>
        <div>
            <h2><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/">Create, Store, Share, and Work with Humanities Data</a></h2>
            <p>A DSP repository is a place for doing research. DSP can store texts, images, audio and video recordings,
                metadata, annotations, text markup, and any other data created by humanities research. It is designed for
                long-term preservation, and at the same time it provides powerful tools for searching, annotating, extending,
                linking, sharing, and reusing data.</p>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="columns">
        <div>
            <h2><a href="https://docs-api.dasch.swiss/01-introduction/what-is-knora/">Find and Link Data across Projects</a></h2>
            <p>With DSP, you can search for and link data across projects, search for dates in
                one calendar and find corresponding dates in other calendars, link a word in a text to an annotation of part
                of an image, and search for text markup across large numbers of texts.</p>
        </div>
        <div>
            <img class="desktop shadow" src="/assets/images/search.jpg" alt="Find your data">
        </div>
    </div>
</div>
<!--

<div class="container">
    <hr>
    <blockquote>
        <p class="quote">DSP allows research projects to create their own data models, while ensuring that data from different projects
            is interoperable. Each project builds its data model on DSP's basic, shared foundation, which is designed for
            the humanities. This foundation includes a flexible way of storing text, which can have multiple, overlapping,
            non-hierarchical structures. With DSP, you can search for and link data across projects, search for dates in
            one calendar and find corresponding dates in other calendars, link a word in a text to an annotation of part
            of an image, and search for text markup across large numbers of texts.
            <div class="attribute">
                <p class="meta">
                    &lt;!&ndash; <span class="image"><img src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span> &ndash;&gt;
                    &lt;!&ndash; <span class="author"><strong>Wooly McBaa</strong></span> &ndash;&gt;
                </p>
            </div>
    </blockquote>
</div>

-->

<div class="darker">
    <div class="container">
        <h2>Contribute</h2>
        <!-- <p style="text-align: center;">Test DSP today or improve the software</p> -->
        <div class="button">
            <a class="center" href="https://github.com/dasch-swiss/dsp-api">Code on GitHub</a>
        </div>
    </div>
</div>

<!--<div class="darker">-->
<div>
    <div class="container">
        <h2>News</h2>
        <div class="posts">
            {% for post in site.posts limit: 3 %}
            <div class="post">

                <!-- <div class="image" style="background-image: url('{{ post.featured_image}}')"></div> -->
                <div class="post-content">
                    <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
                    <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>

                    {{ post.content }} {% if post.link %}
                    <p class="center">
                        <a href={{ post.link }}>&rarr; Release note on GitHub</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
